@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base  {
  .headline-1 {
    @apply font-semibold text-2xl leading-[30px];
  }
  .headline-2 {
    @apply font-semibold text-xl leading-6;
  }
  .headline-3 {
    @apply font-semibold text-lg leading-[22px];
  }
  .headline-4 {
    @apply font-semibold text-base leading-5;
  }
  .body1 {
    @apply font-normal text-base leading-5;
  }
  .body2 {
    @apply font-normal text-sm leading-[18px]; 
  }
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Pretendard', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
